.container{
    height: 250px;
    width: 100%;
    display:flex;
    background-color: aquamarine;
}
.gradebotoes{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.botaoBar{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
    font-size: 28px;
}