.container-geral{
    flex:1;
    display:flex;
    justify-content: space-around;
}
.container-habilidades{
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-size: 28px;
}
.caixa-botoes{
    display: flex;
    flex-direction: column;
}
.bot1{
    display: flex;
}
.orgbutton{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.botao{
  flex:1;
  appearance: button;
  background-color: #fff;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #000 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
.botao:hover{
    background-color: rgb(60, 60, 60);
}

.container-sobre{
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-size: 28px;
}
.titulo{
    text-decoration-line: underline;
}
.negrito{
    font-weight: 900;
    font-size: 42px;
}
.container-textos{
    height: 500px;
    width: 450px;
    border:solid 3px;
    border-color: black;
    border-radius: 5%;
    font-size: 24px;
    padding: 1%;
    overflow-y: scroll;
    scrollbar-color: black;
    text-align: justify;
    display: flex;
    flex-direction: column;
    text-indent: 20px;
}
.container-textos::-webkit-scrollbar {
    width: 12px;
}
.container-textos::-webkit-scrollbar-track {
    background: #ebeaea;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.container-textos::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 5px;
    border: 1px solid #ffffff;
}
